<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>GT10Audio</string>
	<key>CFBundleIdentifier</key>
	<string>com.lukasmalkmus.gt10audio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GT10Audio</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>AudioServerPlugIn_LoadingConditions</key>
	<dict>
		<key>IOService Matching</key>
		<array>
			<dict>
				<key>IOProviderClass</key>
				<string>IOUSBHostDevice</string>
				<key>idVendor</key>
				<integer>1410</integer>
				<key>idProduct</key>
				<integer>218</integer>
			</dict>
		</array>
	</dict>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFPlugInFactories</key>
	<dict>
		<key>5A3F5A3E-C779-4D56-9731-AAA76F20E0A5</key>
		<string>GT10AudioFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>5A3F5A3E-C779-4D56-9731-AAA76F20E0A5</string>
		</array>
	</dict>
</dict>
</plist>
